/* Utilities */

.body__style {
  background: url("https://coolbackgrounds.io/images/backgrounds/index/aqua-d9b59c89.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.alert-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px;
}

.centered__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Graphic chart */

.principal__color {
  color: #2C8DF1 !important;
}

.principal__confirm__btn__color {
  background-color: #2C8DF1 !important;
  border-color: #2C8DF1 !important;
  color: white;
}

.principal__cancel__btn__color {
  background-color: white !important;
  border-color: #2C8DF1 !important;
  color: #2C8DF1;
}

.principal__confirm__btn__color:focus {
  box-shadow: 0 0 0 0rem;
}

.principal__cancel__btn__color:focus {
  box-shadow: 0 0 0 0rem;
}

.principal__cancel__btn__color:hover {
  color: #2C8DF1;
}

.secondary__color {
  color: #FE9455 !important;
}

.secondary__confirm__btn__color {
  background-color: #FE9455 !important;
  border-color: #FE9455 !important;
  color: white;
}

.secondary__cancel__btn__color {
  background-color: white !important;
  border-color: #FE9455 !important;
  color: #FE9455;
}

.secondary__confirm__btn__color:active,
.secondary__confirm__btn__color:focus,
.secondary__confirm__btn__color:focus:active {
  box-shadow: none;
}

.secondary__cancel__btn__color:active,
.secondary__cancel__btn__color:focus,
.secondary__cancel__btn__color:focus:active {
  box-shadow: none;
}

.secondary__cancel__btn__color:focus {
  box-shadow: none;
}

.secondary__cancel__btn__color:hover {
  color: #FE9455;
}
